<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do tasks</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">

  <style>
    body {
         background-color: #B3B1B1;
         font-family: 'Nunito', sans-serif;
         padding-top: 50px;
    }

    .container{
          max-width:550px;
          margin: auto;
          background-color: #917FF1;
          -webkit-box-shadow: 2px 2px 13px -4px rgba(0,0,0,0.21);
          box-shadow: 2px 2px 13px -4px rgba(0,0,0,0.21);
    }
  </style>
</head>
<body>

    <div class="container">
        {% block content %}

        {% endblock content %}
    </div>
</body>
</html>