<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task`s detail</title>

{% extends 'todo_app/base.html' %}
{% block content %}
</head>
<body>
<h1>Task detail:</h1>
    <p>{{task.title}}</p>
    <p>{{task.content}}</p>
    <p>{{task.due_date}}</p>
    <p>{{task.status}}</p>
    <p>{{task.priority}}</p>
</body>
</html>
{% endblock content %}