<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>

{% extends 'todo_app/base.html' %}
{% block content %}
</head>
<body>
{% if user.is_authenticated %}
    <p>{{user}}</p>
    <a href="{% url 'logout' %}">Logout</a>
    <a href="{% url 'profile' user.pk %}">My profile</a>
{% else %}
    <a href="{% url 'login' %}">Login</a>
{% endif %}

<hr>
<h1>My todo list</h1>
<a href="{% url 'create_task' %}"> Add task</a>

<form method="GET">
    <input type="text" name="search-area" value="{{search_input}}">
    <input type="submit" value="Search">

</form>
<table>
  <tr>
    <th>Item</th>
    <th></th>
  </tr>
  {% for task in tasks %}
    <tr>
      <td>{{task.title}}</td>
      <td>{{task.content}}</td>
      <td>{{task.due_date}}</td>
      <td>{{task.importance}}</td>
      <td><a href="{% url 'task' task.id %}">View</a></td>
      <td><a href="{% url 'task_update' task.id %}">Edit</a></td>
      <td><a href="{% url 'task_delete' task.id %} ">Delete</a></td>
    </tr>
  {% empty %}
    <h3>No items in list</h3>
  {% endfor %}
</table>
</body>
</html>
{% endblock content %}