<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

{% extends 'todo_app/base.html' %}
{% block content %}
</head>
<body>
<a href = "{% url 'tasks' %}">Go back</a>
<form method="POST">
    {% csrf_token %}
    <p>Are you sure you want to delete this task? "{{task}}"</p>
    <input type = "submit" value="Delete"/>
</form>
</body>
</html>
{% endblock content %}