<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

{% extends 'todo_app/base.html' %}
{% block content %}
</head>
<body>
<h1>Login</h1>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Login">
</form>
<p>Don`t have an account? <a href="{% url 'register' %}">Registrate</a></p>
</body>
</html>
{% endblock content %}