<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>

{% extends 'todo_app/base.html' %}
{% block content %}
</head>
<body>
<h1>Profile detail:</h1>
    <p>{{user.username}}</p>
    <p>{{user.first_name}}</p>
    <p>{{user.last_name}}</p>
    <p>{{user.email}}</p>
    <p>{{user.work_position}}</p>
<a href="{% url 'profile_update' user.id %}">Edit</a>
</body>
</html>
{% endblock content %}