<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

{% extends 'todo_app/base.html' %}
{% block content %}
</head>
<body>
<form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Submit">
</form>
</body>
</html>
{% endblock content %}