<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>

{% extends 'todo_app/base.html' %}
{% block content %}
</head>
<body>
<h1>Registration</h1>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Registrate">
</form>
<p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
</body>
</html>
{% endblock content %}